template(name="assignment-ongoing")
  .panel.panel-info.assignment-ongoing
  .panel-heading
    span.glyphicon.glyphicon-tasks
    | A
    span.glyphicon.glyphicon-chevron-down.icon-right
    span.glyphicon.glyphicon-edit.icon-right(data-toggle="modal", data-target="#new-assignment-modal")
  .panel-body
    h3 Topic
    p asdf
    h3 Requirement
    p asdf
    h3 Due Time
    p sadfadsfasd