template(name="assignment_ongoing")
  .panel.panel-info.assignment-ongoing
  .panel-heading
    span.glyphicon.glyphicon-tasks
    | a
    span.glyphicon.glyphicon-chevron-down.icon-right
    span.glyphicon.glyphicon-edit.icon-right(data-toggle="modal", data-target="#new-assignment-modal")
  .panel-body
    h3 Topic
    p b
    h3 Requirement
    p c
    h3 Due Time
    p d