template(name="assignment_archived")
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-inbox
      | 
      span.glyphicon.glyphicon-chevron-down.icon-right
    .panel-body
      h3 Topic
      p 
      h3 Requirement
      p 
      h3 Due Time
      p 