template(name="submission")
  #submission
    .panel.panel-info
      .panel-heading 
        span.glyphicon.glyphicon-tasks
        | A
        span.glyphicon.glyphicon-chevron-down.icon-right
      .panel-body
        span.glyphicon.glyphicon-cloud-upload.icon-right
        input(type="file") 
      table.table.table-hover
        thead
          tr
            th ID
            th First Name
            th Last Name
            th File
            th Score
        tbody
          tr
            td 13333333
            td A
            td B
            td 
              span.glyphicon.glyphicon-download-alt
            td 0
          tr
            td 13333333
            td A
            td B
            td 
              span.glyphicon.glyphicon-download-alt
            td 0
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-inbox
        | A
        span.glyphicon.glyphicon-chevron-down.icon-right
      table.table.table-hover
        thead
          tr
            th ID
            th First Name
            th Last Name
            th File
            th Score
        tbody
          tr
            td 13333333
            td A
            td B
            td 
              span.glyphicon.glyphicon-download-alt
            td 0
          tr
            td 13333333
            td A
            td B
            td 
              span.glyphicon.glyphicon-download-alt
            td 0