head
  title My Homework
  meta(charset="utf-8")
body
  #container
    #nav
      ul.nav.nav-tabs.nav-justified
        li.active(role="presentation") 
          a Assignment
        li(role="presentation") 
          a Submission
        li(role="presentation") 
          a Profile

    +assignment
    
    +submission

    #profile

